---
import Layout from "../layout/Layout.astro";
import Hero from "../components/section/Hero.astro";
import Brand from "../components/section/Brand.astro";
import Services from "../components/section/Services.astro";
import Promotion from "../components/section/Promotion.astro";
import CaseStudies from "../components/section/CaseStudies.astro";
import WorkingProcess from "../components/section/WorkingProcess.astro";
import Testimonials from "../components/section/Testimonials.astro";
import Teams from "../components/section/Teams.astro";
import ContactUs from "../components/section/ContactUs.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

      body {
        font-family: "Space Grotesk", sans-serif;
      }
    </style>
    <title>Astro</title>
  </head>
  <body>
    <Layout>
      <Hero />
      <Brand />
      <Services />
      <Promotion />
      <CaseStudies />
      <WorkingProcess />
      <Teams />
      <Testimonials />
      <ContactUs />
    </Layout>
  </body>
</html>
