---
import { Icon } from "astro-icon/components";

const { no, title, content } = Astro.props;
---

<details
  class="group gap-4 border border-brandDark border-solid rounded-[45px] drop-shadow-[0_5px_rgba(25,26,35,1)] bg-brandGrey group-open:bg-brandGreen"
  open={false}
>
  <summary
    class="flex p-10 cursor-pointer list-none items-center justify-between group-open:text-primary-500 group-open:bg-brandGreen group-open:rounded-t-[45px]"
  >
    <div class="flex items-center gap-5">
      <span class="text-3xl md:text-6xl font-medium">{no}</span>
      <span class="text-lg md:text-3xl font-medium">{title}</span>
    </div>

    <div>
      <Icon
        name="icon-minus"
        width={58}
        height={58}
        class="hidden group-open:block"
      />
      <Icon
        name="icon-plus"
        width={58}
        height={58}
        class="block group-open:hidden"
      />
    </div>
  </summary>
  <div
    class="p-10 text-secondary-500 border-t text-lg border-brandDark border-solid group-open:bg-brandGreen group-open:rounded-b-[45px]"
  >
    {content}
  </div>
</details>
