---
import { Icon } from "astro-icon/components";

const link = [
  { name: "About Us", link: "/about" },
  { name: "Services", link: "#" },
  { name: "Use Cases", link: "#" },
  { name: "Pricing", link: "#" },
  { name: "Blog", link: "#" },
];
---

<nav class="py-8 px-5 md:px-0 max-w-[1240px] mx-auto">
  <div class="flex justify-between items-center">
    <a class="hover:cursor-pointer" href="/">
      <Icon name="logo" width={220} height={56} />
    </a>
    <div class="gap-10 hidden md:flex text-xl">
      {
        link.map((link) => (
          <a class="hover:underline hover:cursor-pointer" href={link.link}>
            {link.name}
          </a>
        ))
      }
    </div>
  </div>
  <nav></nav>
</nav>
