---
import { Icon } from "astro-icon/components";
---

<div class="flex gap-4">
  <a href="#"><Icon name="icon-linkedin-light" width={30} height={30} /></a>
  <a href="#"><Icon name="icon-facebook" width={30} height={30} /></a>
  <a href="#"><Icon name="icon-twitter" width={30} height={30} /></a>
</div>
