---
import { Icon } from "astro-icon/components";

const { name, title, imgSrc, content } = Astro.props;
---

<article
  class="flex flex-col gap-5 p-[30px] border border-brandDark rounded-[45px] hover:shadow-[0_5px_rgba(25,26,35,1)] hover:cursor-pointer bg-white transition-shadow duration-300"
>
  <div class="relative flex gap-4 items-end border-b border-b-brandDark pb-6">
    <img
      src={imgSrc}
      alt="John Smith"
      class="w-[100px] h-[100px]"
      loading="lazy"
    />
    <div class="">
      <h4 class="text-lg font-medium">{name}</h4>
      <p>{title}</p>
    </div>
    <div class="absolute top-0 right-0">
      <Icon name="icon-linkedin-dark" width={34} height={34} />
    </div>
  </div>
  <div>{content}</div>
</article>
