---

---

<article class="flex flex-col gap-12">
  <div
    class="border border-brandGreen text-white rounded-[45px] w-[400px] md:w-[600px] p-12"
  >
    <p>
      "We have been working with Positivus for the past year and have seen a
      significant increase in website traffic and leads as a result of their
      efforts. The team is professional, responsive, and truly cares about the
      success of our business. We highly recommend Positivus to any company
      looking to grow their online presence."
    </p>
  </div>
  <div class="pl-16">
    <p class="text-brandGreen text-xl">John Smith</p>
    <p class="text-white text-xl">Marketing Director at XYZ Corp</p>
  </div>
</article>
