---
import { Icon } from "astro-icon/components";

const iconName = ["amazon", "dribble", "hubspot", "notion", "netflix", "zoom"];
---

<div>
  <div class="grid grid-cols-3 md:grid-cols-6 gap-4 justify-items-center">
    {
      iconName.map((icon) => (
        <Icon name={`brand-${icon}`} width={124} height={48} />
      ))
    }
  </div>
</div>
