---
import { Icon } from "astro-icon/components";
import Social from "../Social.astro";
---

<footer
  class="max-w-[1240px] w-full mx-auto mt-24 p-14 bg-brandDark md:rounded-t-[45px]"
>
  <div class="flex flex-col gap-14">
    <div
      class="flex flex-col md:flex-row gap-9 md:gap-0 justify-between items-center"
    >
      <Icon name="logo-light" width={180} height={29} />
      <div
        class="flex flex-col md:flex-row gap-4 text-lg text-white text-center md:text-left"
      >
        <a href="#" class="underline">About Us</a>
        <a href="#" class="underline">Services</a>
        <a href="#" class="underline">Use Cases</a>
        <a href="#" class="underline">Pricing</a>
        <a href="#" class="underline">Blog</a>
      </div>
      <div class="hidden md:block">
        <Social />
      </div>
    </div>
    <div
      class="flex flex-col md:flex-row justify-between items-center gap-16 md:gap-0 border-b border-b-white pb-[50px]"
    >
      <div class="flex flex-col gap-6 text-center md:text-left max-w-[332px]">
        <div>
          <h4 class="text-xl bg-brandGreen inline-block font-medium rounded-md">
            Contact Us
          </h4>
        </div>
        <p class="text-lg text-white">Email: info@positivus.com</p>
        <p class="text-lg text-white">Phone: 555-567-8901</p>
        <p class="text-lg text-white">
          Address: 1234 Main St Moonstone City, Stardust State 12345
        </p>
      </div>
      <div
        class="flex flex-col md:flex-row gap-4 py-14 px-10 bg-[#292A32] rounded-[14px]"
      >
        <input
          type="text"
          class="py-5 px-8 border border-white rounded-[14px] bg-[#292A32]"
          placeholder="Email"
        />
        <button class="py-5 px-8 rounded-[14px] text-brandDark bg-brandGreen"
          >Subscribe to news</button
        >
      </div>
      <div class="md:hidden">
        <Social />
      </div>
    </div>
    <div class="flex flex-col md:flex-row gap-8 text-center md:text-left">
      <p class="text-white text-lg">© 2023 Positivus. All Rights Reserved.</p>
      <a href="#" class="text-white text-lg underline">Privacy Policy</a>
    </div>
  </div>
</footer>
