---
import { Icon } from "astro-icon/components";
import Button from "../Button.astro";
---

<section class="relative bg-brandGrey rounded-[45px] p-14 md:gap-[186px]">
  <div class="flex flex-col gap-6 max-w-[500px] w-full">
    <h3 class="font-medium text-3xl">Let’s make things happen</h3>
    <p class="text-lg">
      Contact us today to learn more about how our digital marketing services
      can help your business grow and succeed online.
    </p>
    <Button text={"Get your free proposal"} />
  </div>
  <div class="hidden md:block absolute right-32 -top-8">
    <Icon name="section-make-things-happen" class="w-[359px] h-auto" />
  </div>
</section>
