---
import ServiceCard from "../ServiceCard.astro";

const services = [
  {
    title: "Search engine",
    title2: "optimization",
    color: "grey",
    icon: "seo.png",
  },
  {
    title: "Pay-per-click",
    title2: "advertising",
    color: "green",
    icon: "ppc.png",
  },
  {
    title: "Social Media",
    title2: "Marketing",
    color: "dark",
    icon: "social-media-marketing.png",
  },
  {
    title: "Email",
    title2: "Marketing",
    color: "grey",
    icon: "email-marketing.png",
  },
  {
    title: "Content",
    title2: "Creation",
    color: "green",
    icon: "content-creation.png",
  },
  {
    title: "Analytics and",
    title2: "Tracking",
    color: "dark",
    icon: "analytic.png",
  },
];
---

<section class="flex flex-col gap-16">
  <div class="flex flex-col md:flex-row items-center gap-10">
    <h2
      class="text-[40px] bg-brandGreen font-medium inline-block rounded-lg px-2"
    >
      Services
    </h2>
    <p class="text-center text-lg md:text-left md:w-[580px]">
      At our digital marketing agency, we offer a range of services to help
      businesses grow and succeed online. These services include:
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
    {
      services.map((service) => (
        <ServiceCard
          title={service.title}
          title2={service.title2}
          icon={service.icon}
          color={service.color}
        />
      ))
    }
  </div>
</section>
