---
import TeamCard from "../TeamCard.astro";

const data = [
  {
    name: "John Smith",
    title: "CEO and Founder",
    imgSrc: "/images/john-smith.png",
    content:
      "10+ years of experience in digital marketing. Expertise in SEO, PPC, and content strategy",
  },
  {
    name: "Jane Doe",
    title: "Director of Operations",
    imgSrc: "/images/jane-doe.png",
    content:
      "7+ years of experience in project management and team leadership. Strong organizational and communication skills",
  },
  {
    name: "Michael Brown",
    title: "Senior SEO Specialist",
    imgSrc: "/images/michael-brown.png",
    content:
      "5+ years of experience in SEO and content creation. Proficient in keyword research and on-page optimization",
  },
  {
    name: "Emily Johnson",
    title: "PPC Manager",
    imgSrc: "/images/emily-johnson.png",
    content:
      "3+ years of experience in paid search advertising. Skilled in campaign management and performance analysis",
  },
  {
    name: "Brian Williams",
    title: "Social Media Specialist",
    imgSrc: "/images/brian-williams.png",
    content:
      "4+ years of experience in social media marketing. Proficient in creating and scheduling content, analyzing metrics, and building engagement",
  },
  {
    name: "Sarah Kim",
    title: "Content Creator",
    imgSrc: "/images/sarah-kim.png",
    content:
      "2+ years of experience in writing and editing Skilled in creating compelling, SEO-optimized content for various industries",
  },
];
---

<section class="flex flex-col gap-16">
  <div class="flex flex-col md:flex-row items-center gap-10">
    <h2
      class="text-[40px] bg-brandGreen font-medium inline-block rounded-lg px-2"
    >
      Teams
    </h2>
    <p class="text-center md:text-left md:w-[580px]">
      Meet the skilled and experienced team behind our successful digital
      marketing strategies
    </p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
    {
      data.map(({ name, title, imgSrc, content }) => (
        <TeamCard name={name} title={title} imgSrc={imgSrc} content={content} />
      ))
    }
  </div>
</section>
